:root {
  --heading: #bb9f00;
  --text: #efefef;
  --text2: #9e9e9e;
  --bg: #232323;
  --typeH: #62bb6e;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  
}


html{
  scroll-behavior: smooth;
}


*::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

*::-webkit-scrollbar-track {
  
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--heading);
  border-radius: 6px; 
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #9e9e9e; */
}

.myweb {
  color: var(--heading);
}

.left {
  font-family: "IBM Plex Mono", monospace;
  color: var(--text2);
  width: 50%;
}

.right {
  width: 50%;
  left: auto;
  padding: 0;

  /* align-content: center; */
  /* height: 20em;
  background-color: #9e9e9e; */
}

/* header section */

.header {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #ffd900; */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  margin-top: 15px;
}
.logo_H {
  width: 100px;
  height: 100px;
  border: solid var(--text) 2px;
  padding: 10px;
  border-radius: 60px;
  align-self: center;
}

.header h1,
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.header h2 {
  color: var(--text2);
}
.header h2 span {
  color: var(--text);
}

/* header social list */
.header ul , .social_list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aquamarine; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header ul li a , .social_list ul li a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  color: var(--heading);
}

.header ul li a:hover , .social_list ul li a:hover  {
  color: var(--text);
}
.header hr {
  width: 100%;
  border: 1px solid #343434;
}
.header .nav ul {
  margin-top: 10px;
}
.header .nav li a {
  font-size: medium;
  margin-left: 20px;
  color: var(--text2);
  font-family: "Space Mono", monospace;
  text-decoration-color: var(--heading);
}
.header .nav i {
  color: var(--heading);
  text-decoration: none;
}

/* web body */
.typingline {
  display: flex;
  flex-direction: row;
}
.typeH {
  color: var(--typeH);
  font-size: x-large;
  font-family: "Playfair Display", serif;
}

.typingheader {
  font-size: x-large;
  font-family: "Playfair Display", serif;
  color: var(--text);
}

.aboutbody {
  display: flex;
  flex-direction: row;
}

.aboutbody .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: "Playfair Display", serif;
  padding: 0;
  padding-left: 5px;
}


/* .aboutbody .left .profile{
  width: 100%;
  margin: 0;
  
  } */
.aboutbody .right img {
  width: 120px;
  height: 120px;
  border: solid var(--text) 2px;
  padding: 5px;
  border-radius: 100px;
}

.aboutbody .right h2 {
  margin: 0;
  padding: 0;
}

.aboutbody .right p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--text2);
}

.aboutbody .right hr {
  width: 100%;
  border: 1px solid #343434;
}

.aboutbody .right .achiev h3 {
  color: var(--heading);
}
#contactmebg {
  visibility: hidden;
  position: fixed;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: #232323ae;
  top: 0;
  left: 0;
}
#contactme {
  
  width: 40%;
  height: 60%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 9;
  top: 15%;
  left: 30%;
  border-radius: 25px;
  padding: 20px;
}

#contactme h1 {
  text-align: center;
}

.moreABTbtn{
  all: unset;
  background-color: #ffffff00;
  color: var(--typeH);
  cursor: pointer;

}
.aboutbody .right table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text2);
  font-family: "Space Mono", monospace;
}
.aboutbody .right .achiev h3 {
  text-align: center;
}
.aboutbody .right .achiev h3 i{
  color: var(--text2);
}
.aboutbody .right .achiev td {
  width: 50%;
  padding: 10px;
  vertical-align: top;
  box-sizing: border-box;
}
.aboutbody .right table i {
  color: var(--heading);
}

.aboutbody .right .iconF {
  width: 10%;
  padding: 20px;
}
.aboutbody .right .tbdataF {
  width: 90%;
}
.aboutbody .right .tbdataF p {
  text-align: left;
  color: var(--heading);
}
.aboutbody .right .tbdataF a {
  text-align: left;
  color: var(--text2);
  text-decoration: none;
}

#closecont i{
  font-size: xx-large;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
#closecont i:hover{
  color: red;
}

/* skill and certificate  section */

.skiils{
  display: flex;
  flex-direction: row;
}
.brbg {
  width: 90%;
  height: 20px;
  background-color: #353535;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 5%;
}

.bar {
  width: 50%;
  height: 100%;
  background-color: #564a0095;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-content: center;
  align-items: center;
  position: relative;
}
.bar .ltxt {
  position: absolute;
  left: 10px; /* adjusted left position to create some space */
  font-size: small;
  color: var(--text);
}
.bar .rtxt {
  position: absolute;
  right: 10px; /* adjusted right position to create some space */
  font-size: small;
  color: var(--text);
}

.skiils .right table{
  width: 100%;
  justify-content: center;
}

.certtb td {
  width: 50%;
  padding: 10px;
  vertical-align: top;
  box-sizing: border-box;
  
  
}
.certtb td .certbg{
  width: 100%;
  height: auto;
  background-color: #181818;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.certtb td .certbg img{
  width: 60px;
  height: 50px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.certtb td .certbg p{
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.certtb td .certbg .name{
  font-family: "Space Mono", monospace;
  color: var(--text2);
}
.certtb td .certbg .date{
  font-family: "Space Mono", monospace;
  color: var(--text2);
  font-size: smaller;
}


.exp{
  margin-top: 20px;
}


.workbg table{
  width: 100%;
  border-collapse: collapse;
  color: var(--text2);
  font-family: "Space Mono", monospace;
  margin-top: 20px;
 
}

.workbg .positions{
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.workbg .positions img{
  width: 50px;
  top: 0;

}


.workbg .positions h5{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-family: "Space Mono", monospace;
  color: var(--text2);
  font-size: large;
}

.workbg .positions p{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-family: "Space Mono", monospace;
  color: var(--text2);
  font-size: small;
  text-align: left;
}

.workbg tr{
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text2);
}

.myproject{
  width: 100%;

}
.myproject .rowPro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project {
  width: 30%;
  height: auto;
  background-color: #181818;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.project h5{
  font-family: "Space Mono", monospace;
  color: var(--text);
  font-size: large;
  padding: 0;
  margin: 0;
}

.project img{
  border-radius: 20px;
}

.project p{
  font-family: "Space Mono", monospace;
  color: var(--text2);
  font-size: small;
  padding: 0;
  margin: 0;
}

.project a{
  font-family: "Space Mono", monospace;
  color: var(--heading);
  font-size: small;
  padding: 0;
  margin: 0;
}

.project small{
  font-family: "Space Mono", monospace;
  color: var(--text2);
  font-size: small;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.typingline{
  margin-top: 20px;
  margin-bottom: 10px;
}

.rowPro{
  margin-top: 20px;
}

.footer{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer hr{
  border: 0.2px solid var(--text2);
}

.footer a{
  color: var(--heading);
}

